body {
    background: #906949;
    margin: 0px 50px 0px 50px;
}

#cabecera{
    display: grid;
    grid-template-columns: 30% auto;
    align-items: center;
}

#menu {
    text-align: right;
}

#menu a {
    background-color: #559049;
    color: black;
    font-family: arial;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
}

#menu a:hover{
    background-color: #6ab15b;
}

#portada img{
    display: block;
    margin: auto;
    width: 100%;
}